//
// Frontend SCSS
// @since   1.0.0
// @version 1.0.0
//

@import "_shared";

body.fkblkd {
	@include wood();

	text-align: center;

	h1 {
		color: #fff;
		font-family: sans-serif;
		margin-bottom: 10px;
		margin-top: 50px;
	}

}
